
<h2>Edit <%= @member.first_name %> <%= @member.last_name %></h2>
<form method="POST" action="/members/<%= @member.id %>">
  <br>
    <div>
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="<%= @member.first_name %>"/>
    </div>
    <br>
    <div>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value="<%= @member.last_name%>"/>
    </div>
  <br>
    <div>
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" value="<%= @member.age %>"/>
    </div>
    <br>
    <label>
      Premium Membership:
      <select name="premium_membership">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
    </label>
<br>
    <div>
      <input class="btn" type="submit" value="Enrol Member"/>
    </div>
</form>
