<h1>Members</h1>

<div class="box-shadow_m_index">
<table>

  <tr>
    <th>First Name</th>
    <th></th>
    <th>Last Name</th>
    <th></th>
    <th>Age</th>
    <th></th>
    <th>Premium Membership</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.first_name %></a></td>
    <td>|</td>
    <td><%= member.last_name %></td>
    <td>|</td>
    <td><%= member.age %></td>
    <td>|</td>
    <td><%= member.premium_membership %></td>
  </tr>
  <% end %>

</table>
</div>

<br>
<a href="/members/new"><input class="btn" type="submit" value="Add a new Member"/>
