<h1>Member <%= @member.first_name %> <%= @member.last_name %></h1>

<p>Age: <%= @member.age %></p>

<p>Premium Membership: <%= @member.premium_membership %></p>

<h3>Gym Classes:</h3>

<ul>
  <% for gym_class in @classes %>
  <li><%= gym_class.title %></li>
  <% end %>
</ul>

<a href="/members/<%= @member.id %>/edit"><input class="btn" type="submit" value="Edit"/>
