<h1>Bookings</h1>
<div class="box-shadow_b_index">
  <table>
    <tr>
      <th>Members</th>
      <th></th>
      <th>Classes</th>
      <th></th>
      <th>Date</th>
      <th></th>
      <th>Time</th>

    </tr>
    <% for booking in @bookings %>
    <tr>
      <td><%= booking.member.first_name %> <%= booking.member.last_name %></td>
      <td>|</td>
      <td><%= booking.gym_class.title %></td>
      <td>|</td>
      <td><%= booking.gym_class.date_class %></td>
      <td>|</td>
      <td><%= booking.gym_class.time %></td>
    </tr>
    <% end %>
  </table>
</div>
<br>
<a href="/bookings/new_member"><input class="btn" type="submit" value="Create a New Booking"/>
